# Documentation HTML files
doc/*

# Backup and image sources
*~

# Errors and local files
conf.local*.php
apache.conf
sync-up
S3Writer.conf.local*.php
src/md5sum

# Crontab
crontab

# CSS and JS
www/inc/css/*.css
www/inc/js/*.js

Debug.php
lib/debug/
lib/ChangeLog
etc/*

lib/scripts/hooks-installed/*
lib/rpwriter/

# PDFLaTeX socket
src/pdflatexd/params.py
src/pdflatexd/*.pyc
src/pdflatexd/pdflatex_server.pid

html/

# Mercurial
.hg*

cache/*.db
cache/*.html
