/* Fixes for mobile devices */

body {
    width: 100%;
    font-size: 18pt;
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    line-height: 1.25em;
    position: relative;
    background-image: url('img/m-back.png');
    background-position: 0px 0px;
    background-repeat: repeat-x;
}
#bodydiv {
    padding: 0em;
}
#footdiv {
    font-size: 12pt;
    color: gray;
}
input, button {
    font-size: 18pt;
}
select {
    font-size: 18pt;
}
.hidden {
    display: none;
}
/* Forms */
div.form_entry {
    margin-bottom: 1em;
}
.form_h {
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 10em;
    text-align: right;
    margin-right: 1em;
    font-weight: bold;
    color: black;
    vertical-align: top;
}
.form_b {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
    margin-left: 1em;
}
th.noborder, td.noborder {
    border: none;
}
div.port {
    border: 1px solid #cccccc;
    padding: 1em;
    padding-top: 0em;
    padding-bottom: 1em;
    margin: 0em;
    margin-bottom: 1.5em;
    width: 92%;
}
div.port h3 {
    color: #555555;
    margin: 0px;
    background: white;
    padding: 0.2em;
    position: relative;
    top: -0.7em;
    font-size: 1em;
    font-weight: normal;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

h2 {
    color: #b89f7e;
}

/* Tables */
table {
    border-spacing: 0px;
    border-collapse: collapse;
    font-size: 0.9em;
}
table td {
    border: 1px solid #bbbbbb;
    text-align: right;
    margin: 0px;
    padding: 2.5px;
}
table th {
    border: 1px solid #bbbbbb;
}
table thead {
    background: #b89f7e;
    background-image: url('img/table_bg.png');
    background-repeat: repeat-x;
    border: 1px solid #555555;
    height: 20px;
    color: black;
}
thead th {
    padding: 0px 1em;
}
table.narrow {
    display: inline-block;
    vertical-align: top;
}
div#announcediv {
    background: #f3ebe0;
    margin: auto;
    margin-bottom: 20px;
    font-size: 0.9em;
    width: 820px;
}
div#announcediv p {
    margin: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.message {
    background: #f3ebe0;
    border: 1px solid #3465a4;
    margin: 10px 0px;
    padding: 1em;
}

table.left * {
    text-align: left;
}
div#menudiv {
    background: #7eade6;
    background-image: url('img/page_bg.png');
    text-align: center;
    margin: 0.35em 0em;
    width: 98%;
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
}
div#menudiv.show {
    display: block;
}
div.menu {
    display: inline-block;
    zoom: 1;
    *display: inline;
    background: #cccccc;
    padding: 0em 0.25em 0em 0.5em;
    margin: 0.5em 0.25em;
    vertical-align: top;
    border: 1px solid #555555;
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
}
div.menu h4 {
    margin: 0em;
    padding: 0em;
}
div.menu ul, div.menu li {
    list-style-type: none;
    margin: 0.5em 0.25em;
    padding: 0px;
}
img#headimg {
    position: absolute;
    top: 0px;
    left: 2em;
    height: 1em;
}
/*
h4#date {
    position: absolute;
    top: -1.5em;
    left: 14em;
    font-size: 80%;
    color: white;
}
*/
a#help {
    position: absolute;
    right: 1em;
    top: 0px;
    color: white;
    font-size: 80%;
    background: #4689de;
}
div#headdiv {
    background: #3465a4;
}
div#user, h4#date, div#regatta ul {
    display: none;
}
div#regatta {
    position: absolute;
    top: 0px;
    right: 5em;
    text-align: right;
    font-size: 90%;
    color: white;
}