/* Main Stylesheet for Techscore
 *
 * @author Dayan Paez, OpenWeb-Solutions.net
 *
 *
 */

/*
 * ----------------------------------------
 * General Styles, applies to all media 
 * ----------------------------------------
 */

.hidden {
    display:none;
}

html {
    background:#f8f8f8;
}

body {
    padding:0px;
    margin:0px auto;
    font-family: Verdana, sans-serif;
    line-height:1.25em;
    display: table;
    min-width: 100%;
    font-size: 12pt;
}

a img {
    border: none;
}

a {
    color: #194884;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.strong {
    font-weight: bold;
}

address {
    font-style: normal;
    text-align: center;
}

#bodywrap {
    background: #fff;
}

.hlink {
    font-size: 0.9em;
    margin-left: 1em;
}



/* Regatta status */

.stat {
    padding: 0.25em;
    border: 1px solid black;
    border-radius: 0.25em;
    text-transform: uppercase;
    font-size: 85%;
    font-weight: bold;
    display: block;
    text-align: center;
    background: #eee;
    text-shadow: 1px 1px 0 white;
}
a.pending, .user-rejected, .user-inactive {
    color:red;
    background: #eed2c0;
    border-color: brown;
    font-weight:bold;
}

.incomplete, .user-pending {
    color: brown;
    background: #f3f3bb;
    border-color: orange;
}

.missing-rp, .user-requested {
    color: purple;
    background: #ffc2ff;
    border-color: purple;
}

a.empty, .user-active {
    color: green;
    background: #e0f3e0;
    border-color: green;
}
.personal-regatta .stat {
    background: #eee;
    border-color: #888;
    color: #555;
}

h4 a {
    color: navy;
    text-decoration: none;
}
h4 a:hover {
    text-decoration: underline;
}



/* Helpful notes */

.note {
    display: inline-block;
    margin-left: 1em;
}

.note-link {
    background: none repeat scroll 0 0 #5186CB;
    border-radius: 10px;
    color: #FFFFFF;
    display: block;
    font-size: 80%;
    font-weight: bold;
    height: 20px;
    text-align: center;
    width: 20px;
    margin-top: 0.25em;
    opacity: 0.5;
}

.note-link:hover {
    background: #3465A4;
    text-decoration: none;
    opacity: 1;
}

.note-screen {
    display: none;
}

.note-screen:target {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    z-index: 10;
}

.note-body {
    display: block;
    max-width: 15em;
    margin: 3em auto;
    background: white;
    border-radius: 5px;
    padding: 1em;
    position: relative;
}

.note-close {
    background: none repeat scroll 0 0 #111111;
    border: 2px solid #AAAAAA;
    border-radius: 15px;
    color: #FFFFFF;
    display: block;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 22px;
    padding-top: 3px;
    position: absolute;
    right: -15px;
    text-align: center;
    top: -15px;
    width: 25px;
}

.note-close:hover {
    text-decoration: none;
}




/* Menu */

#user-menudiv {
    background: url(/inc/img/user.png) no-repeat scroll 50% 50% #759DD1;
    float: right;
    height: 28px;
    margin-right: 5px;
    margin-top: 5px;
    position: relative;
    width: 30px;
    border-radius: 3px;
    border: 1px solid #fff;
}

#user-menu {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #AAAAAA;
    box-shadow: 0 1px 1px #BBBBBB;
    font-size: 90%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 28px;
    width: 10em;
    z-index: 11;
    display: none;
}

#user-menudiv:hover #user-menu {
    display: block;
}

#user-menu a, #user-menu span {
    padding: 5px 10px;
    display: block;
}

#user-menu span {
    color: #333;
}

#user-menu a:hover {
    text-decoration: none;
    color: white;
    background: #b89f7e;
}

#menubar .menu:hover {
    background: #ddd;
}

#menubar .menu:hover ul {
    display:block;
    background-image:url('img/menu_bg_bot.png');
    background-repeat:repeat-x;
    background-position:0px 100%;
    padding:0px;
    border: 1px solid #AAAAAA;
    box-shadow: 2px 2px 4px #CCCCCC;
}




/* Inputs */

select, .csel-container, .multiple-select {
    border: 1px outset #aaa;
    border-radius: 2px;
    color: #111111;
    padding: 0.5em;
    font-size: 1em;

    background: rgb(242,242,242);
    background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(242,242,242,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(242,242,242,1)));
    background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(242,242,242,1) 100%);
    background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(242,242,242,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(242,242,242,1) 100%);
    background: linear-gradient(to bottom, rgba(252,252,252,1) 0%,rgba(242,242,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f2f2f2',GradientType=0 );
}

.form_entry select, .form_entry .csel-container {
    min-width:15em;
    font-size: 1em;
}

.csel-container {
    padding: 0;
}

input[type="text"], input[type="search"], input[type="email"], input[type="date"], input[type="time"], input[type="url"], input[type="password"], input[type="number"], input[type="time"], select:focus, textarea, .msel-wrapper select {
    border: 1px inset #aaa;
    border-radius: 2px;
    color: #111111;
    padding: 0.5em;
    box-shadow: 0 2px 5px #DDDDDD inset;
    outline: 0;
    -moz-outline: 0;
    font-size: 1em;

    background: white;
}

input[disabled] {
    background: #ddd;
}

/* Submit and Reset Buttons */

input[type="submit"], input[type="reset"], button {
    border: 1px solid #AAAAAA;
    border-radius: 2px;
    font-size: 95%;
    padding: 0.5em 1em;
    cursor: pointer;
    margin-right: 0.75em;
}

input[type="submit"] {
    background: rgb(52,101,164);
    color: #fff;
    text-shadow: 1px 1px 1px #222;
    border: 1px solid #555;
    font-weight: bold;
}

input[type="reset"] {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(232,232,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */

    color: #222222;
    text-shadow: 1px 1px 1px #FFFFFF;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    border-color: #555;
}

input[type="submit"]:hover {
    background: rgb(52,101,164); /* Old browsers */
}

input[type="reset"]:active {
    background: rgb(232,232,232); /* Old browsers */
}

input[type="submit"]:active {
    background: rgb(0,72,160); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,72,160,1) 0%, rgba(52,101,164,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,72,160,1)), color-stop(100%,rgba(52,101,164,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,72,160,1) 0%,rgba(52,101,164,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,72,160,1) 0%,rgba(52,101,164,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,72,160,1) 0%,rgba(52,101,164,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,72,160,1) 0%,rgba(52,101,164,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0048a0', endColorstr='#3465a4',GradientType=0 ); /* IE6-9 */
}

input[type="submit"].delete-button {
    background: rgb(252,175,62);
    background: -moz-linear-gradient(top, rgba(252,175,62,1) 0%, rgba(249,150,12,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,175,62,1)), color-stop(100%,rgba(249,150,12,1)));
    background: -webkit-linear-gradient(top, rgba(252,175,62,1) 0%,rgba(249,150,12,1) 100%);
    background: -o-linear-gradient(top, rgba(252,175,62,1) 0%,rgba(249,150,12,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,175,62,1) 0%,rgba(249,150,12,1) 100%);
    background: linear-gradient(to bottom, rgba(252,175,62,1) 0%,rgba(249,150,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcaf3e', endColorstr='#f9960c',GradientType=0 );

    padding: 0.25em 0.5em;
    color: #222;
    text-shadow: 1px 1px 1px white;
}

input[type="submit"].delete-button:active {
    background: rgb(249,150,12);
    background: -moz-linear-gradient(top, rgba(249,150,12,1) 0%, rgba(252,175,62,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,150,12,1)), color-stop(100%,rgba(252,175,62,1)));
    background: -webkit-linear-gradient(top, rgba(249,150,12,1) 0%,rgba(252,175,62,1) 100%);
    background: -o-linear-gradient(top, rgba(249,150,12,1) 0%,rgba(252,175,62,1) 100%);
    background: -ms-linear-gradient(top, rgba(249,150,12,1) 0%,rgba(252,175,62,1) 100%);
    background: linear-gradient(to bottom, rgba(249,150,12,1) 0%,rgba(252,175,62,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9960c', endColorstr='#fcaf3e',GradientType=0 );
}

input[type="submit"]:disabled {
    background: rgba(52,101,164, 0.5);
}

input[type="submit"].inline {
    padding: 0.25em;
}

input[type="number"] {
    text-align: right;
}

#finish_table th {
    text-align: left;
}
#finish_table select {
    min-width: 1em;
}
.finish_check {
    font-weight: bold;
    color: #87c552;
    font-size: 100%;
}
.finish_input {
    text-align: center;
}
.finish_input:hover {
    background:#3465a4;
    color:white;
}
.finish_check {
    text-align: center;
}
.form_entry .finish_input, .form_entry .finish_check {
    vertical-align: middle;
}
.finish_input.promoted {
    color: #CCCCCC;
}
.finish_input.promoted:hover {
    background: white;
    color: #CCCCCC;
}
.has-raced {
    color: #555;
    font-style: italic;
}



.help-item input, .help-item textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}



/* Color chooser */

.color-chooser, .color-chooser:focus {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
    min-width: 0;
}

.sail-combo {
    position: relative;
    overflow: hidden;
}

.sail-combo .sail-input {
    padding-right: 2.25em;
    text-align: right;
    font-size: 90%;
}

.sail-combo select {
    padding: 0.25em;
    position: absolute;
    right: 2px;
    top: 0px;
    width: 20px;
    z-index: 2;
    border-left: 1px solid #aaa;
    color: rgba(255, 255, 255, 0);
    background: url('/inc/img/trans.png');
}

.sail-combo .color-chooser:focus {
    border-left: 1px solid #aaa;
}



/* Multiple selects (XMultipleSelect) */

.multiple-select {
    display: inline-block;
    vertical-align: top;
    width: 10em;
    min-width: 4em;
    max-height: 15em;
    overflow: auto;
    overflow-x: hidden;
    border: 1px inset #555;
    border-radius: 2px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.multiple-select-group {
    font-weight: bold;
    padding: 0.5em;
}
.multiple-select input {
    display: none;
}
.multiple-select label {
    display: block;
    padding: 0.25em 0.5em;
}
.multiple-select > li {
    margin: 2.5px 0;
    padding: 0;
}
.multiple-select label:hover {
    background: #888;
    color: white;
}
.multiple-select label:active {
    background: #888;
}
.multiple-select input:checked + label {
    background: #355c8e;
    color: white;
}



/* mselect.js */

.msel-wrapper select {
    width: 40ex;
}

.msel-wrapper {
    border: 1px solid #aaa;
    border-radius: 0.5ex 0.5ex 0.5ex 0.5ex;
    background: #eee;
    padding: 0.25em 0.5em;
    font-size: 1em;
}

.msel-search {
    width: 100%;
    font-size: 1em;
    border: 1px inset #aaa;
    border-radius: 2px;
    padding: 0.25em 0.5em;
    box-shadow: 0 2px 5px #DDDDDD inset;
    color: #111111;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.msel-button-promote, .msel-button-demote {
    border-radius: 1em;
    border: 1px solid #888;
    font-family: sans-serif;
    font-size: 10pt;
    margin: 1ex;
    padding: 0.5ex 0;
    width: 40%;
    display: inline-block;
    opacity: 0.9;
}

.msel-button-promote {
    background: #e0f3e0;
}

.msel-button-demote {
    background:#f3f3bb;
}

.msel-button-wrapper {
    text-align: center;
}

.msel-button-promote:hover, .msel-button-demote:hover {
    opacity: 1;
    box-shadow: 0 0 2px 2px #aaa;
}




/* Add teams box */

#teams-list-select-wrapper {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: table;
}

#teams-list-select-wrapper .msel-from-wrapper {
    float: left;
    width: 45%;
}
#teams-list-select-wrapper .msel-to-wrapper {
    float: right;
    width: 45%;
}
#teams-list-select-wrapper .msel-button-wrapper {
    padding-top: 14%;
    width: 10%;
    float: right;
}
#teams-list-select-wrapper button {
    display: block;
    width: 90%;
}

#teams-list-select-wrapper select {
    width: 100%;
    height: 20em;
}

#teams-list-select-wrapper button {
    margin: 1ex auto;
}




/* Combobox selects */

.csel-filter {
    background: none;
    border: medium none;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    padding: 0.35em;
    font-size: 1em;
}

.csel-filter.invalid {
    background-color: #f8b8b8;
}

.csel-drop {
    border-left: 2px groove #FFFFFF;
    cursor: default;
    padding: 0 0.5ex;
}

.csel-options {
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    max-height: 15em;
    list-style-type: none;
    text-align: left;
    background: #fafafa;
    width: 100%;
    border: 1px solid #888;
    box-shadow: 0 5px 5px #AAA;
    font-size: 90%;
}

.csel-optgroup {
    display: block;
    font-size: 90%;
    color: #555;
}

.csel-option {
    cursor: default;
    margin: 0;
    padding: 0.5ex 1ex;
    min-height: 2ex;
}

.csel-option:hover {
    background: #3465A4;
    color: white;
}

.csel-option:active, .csel-option.chosen {
    background: #3465A4;
    color: white;
}



/* Fancy checkboxes */

.checkbox-span, .radio-span {
    position: relative;
    min-height: 30px;
}

.form_entry .checkbox-span, .form_entry .radio-span {
    top: 5px;
}

.checkbox-span input, .radio-span input {
    height: 0;
    min-width: 0;
    width: 0;
    position: absolute;
    z-index: -1;
}

.checkbox-span label, .radio-span label {
    padding: 5px 5px 5px 40px;
    font-size: 90%;
    background: url(/inc/img/check.png);
    background-repeat: no-repeat;
    background-position: 5px 3px;
    cursor: pointer;
}
.radio-span label {
    background-image: url(/inc/img/radio.png);
}

.checkbox-span input:disabled + label, .radio-span input:disabled + label {
    color: #aaa;
}

.checkbox-span input:checked + label, .radio-span input:checked + label {
    background-position: 5px -26px;
}



.growable-row button {
    padding: 2.5px 5px;
}

.pagination-form input {
    font-size: 90%;
    min-width: 0;
    width: 3em;
}

h2 {
    color:#b89f7e;
}

dd {
    font-weight:bold;
    margin-left:1em;
}

dt {
    margin-left:3em;
    margin-bottom:1em;
}

.message {
    font-size: 90%;
    color:#555;
    margin-left:1em;

}
.email-message {
    background:#f3ebe0;
    border:1px solid #3465a4;
    margin:10px 0px;
    padding:1em;
}

.email-message pre {
    font-size: 110%;
    margin: 0;
}

label {
    cursor: pointer;
    padding: 0 0.25em;
}

.inline-list {
    list-style-type: none;
    display: inline-block;
    margin:0;
    padding:0;
}

#summary-textarea {
    padding: 1ex;
    width: 95%;
    font-size: 110%;
    line-height: 1.5em;
}

.js-moving {
    opacity: 0.5;
}
.js-moving > .tr-js-grouplabel {
    opacity: 1;
}

.role-permissions {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.role-permissions li {
    font-size: 80%;
    padding: 1px 3px;
    background: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 5px 0;
    color: #555;
}



/* Associative lists */

.assoc-list {
    border:1px solid #aaa;
    max-height:35em;
    overflow:scroll;
    overflow-x:auto;
    padding:0;
    background:#eee;
    margin-top: 0;
}
.assoc-list ul {
    padding:0.25em;
    margin:0;
}
.assoc-list > li {
    list-style-type:none;
    padding:0;
    margin:0.25em 0;
}
.assoc-list ul li {
    margin:0.2em 0;
}
.assoc-list h4 {
    margin: 0;
    padding: 0.5em;
    border-bottom:1px solid #aaa;
}
.assoc-list input {
    width:3em;
}
.assoc-list label {
    padding-left:1em;
}




/* Document races list */

.document-races-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.document-races-list > li {
    margin: 0.25em 0;
}

.document-races-list strong {
    margin-right: 0.5em;
}




/*
 * --------------------
 * Tables
 * --------------------
 */

table {
    border: 3px solid #CCCCCC;
    border-radius: 5px;
    border-spacing: 0;
    font-size: 0.9em;
    margin-bottom: 1em;
}
td, tbody th {
    border-top: 1px solid #CCCCCC;
    margin:0px;
    padding: 5px;
}
th {
    color: #222;
    font-size: 80%;
    min-width: 2.25em;
    padding: 0.75em 0.5em;
}
table thead {    
    background: #f3ebdf; /* Old browsers */
    background: -moz-linear-gradient(top, #f3ebdf 0%, #e6dfd3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3ebdf), color-stop(100%,#e6dfd3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f3ebdf 0%,#e6dfd3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f3ebdf 0%,#e6dfd3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f3ebdf 0%,#e6dfd3 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f3ebdf 0%,#e6dfd3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3ebdf', endColorstr='#e6dfd3',GradientType=0 ); /* IE6-9 */

    border:1px solid #555555;
    height:20px;
    color:black;
}

th.noborder, td.noborder {
    border:none;
}

tr.disabled {
    background:#ddd;
    color:#555;
}

tr.row1 {
    background: #F2EDE6;
}

tr.checked {
    background: #e0f3e0;
}



/* Team finishes table */

.teamscores td {
    text-align: center;
}
.teamscores .re-score {
    background: #dfd;
}
.teamscores .no-teams {
    opacity: 0.8;
}
.tr-ns {
    background: #ccc;
    color: #ccc;
}
.tr-win {
    background: #e0f3e0;
    font-weight: bold;
}
.tr-lose {
    background: #eed2c0;
    color: #555;
}
.tr-tie {
    background:#f3f3bb;
}
.tr-multtable {
    border: medium none;
    height: 100%;
    width: 100%;
}
.tr-multtable td {
    border: none;
}



/* RankTeamsPane */

.rank-record {
    width: 3em;
    background: #bbf;
}

.rank-table th, .rank-table td {
    width: 8em;
    text-align: center;
}

.rank-table input {
    display: none;
}

.rank-table input + label {
    opacity: 0.7;
    color: #AAAAAA;
    display: block;
    height: 100%;
}

.rank-table input:checked + label {
    opacity: 1;
    color: black;
}

input:checked + label.rank-win {
    background: #e0f3e0;
    font-weight: bold;
}
input:checked + label.rank-lose {
    background: #eed2c0;
    color: #555;
}



/* Regatta list table */
.regatta-list, .regatta-list-current {
    width: 100%;
}

.regatta-list-current {
    background: #e8e1d4;
}

.regatta-list-current td {
    text-align: left;
    padding: 0.5em;
    font-size: 120%;
    border: none;
    border-bottom: 1px solid #ddd;
}
.regatta-list-current tr:last-child td {
    border-bottom: none;
}

.regatta-list-current thead {
    display: none;
}

.personal-regatta td {
    color: #888;
}

.personal-regatta a {
    color: #6e97ff;
}

select.tr-filter, select.tr-filter:active, select.tr-filter:focus {
    background: none;
    border: none;
    font-weight: inherit;
    font-size: inherit;
}



/* Missing RP tables */

.missingrp-table td, .tr-missingrp-table td {
    text-align: center;
}




/* Finalize regatta */

#finalize-issues tr > td:first-child {
    width: 3em;
    text-align: center;
}
#finalize-issues p {
    margin: 0;
}




/* Penalty table */

.penaltytable td, .penaltytable head th {
    text-align: center;
}

.penaltytable td.left {
    text-align: left;
}



/* Keyword replace, when sending messages */

#keyword-replace {
    margin: 0 auto 1em;
}




/* Team RP */

.tr-rp-set {
    margin: 1em auto;
}

.tr-rp-roundtable td {
    font-size: 90%;
    text-align: center;
    width: 8em;
    position: relative;
    vertical-align: top;
}

.tr-rp-roundtable input {
    position: absolute;
    z-index: -1;
}

.tr-rp-roundtable label {
    display: block;
    height: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tr-rp-roundtable input:checked + label {
    background: #e0f3e0 url(/inc/img/s.png) no-repeat 5px 5px;
}

.tr-sailor-row {
    color: #333333;
    font-size: 80%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tr-sailor-row td {
    text-align: left;
}

.tr-sailor-row span {
    padding-left: 0.25em;
    display: block;
    text-indent: -0.25em;
}



/* Team Rotation Tables */

.sail-list, .sail-list td {
    border: none;
    margin: 0;
}



/* Tables of users and sessions */

.users-table, .sessions-table {
    width: 100%;
}
.users-table thead th, .users-table td, .users-legend thead th, .users-legend td, .sessions-table thead th, .sessions-table td {
    text-align: left;
}
.users-legend td {
    padding: 0.25em 0.5em;
}
.current-session {
    background: #e0f3e0;
}
.current-session td {
    padding: 0.5em 2.5px;
}

.filter p {
    margin: 0;
}



/* Table of public files */

#files-table img {
    max-width: 30em;
    height: auto;
}



/* Team names table */

#team-names td {
    height: 2.5em;
}

#team-names select {
    width: 100%;
}




/* Team racing general styles */

.tr-na {
    background: #eee;
    color: #eee;
}
.vscell {
    text-align: center;
}
.team1 {
    text-align: right;
}
.team2 {
    text-align: left;
}
.tr-flight td {
    text-align: center;
    font-size: 75%;
}
td.tr-sail, td.sail {
    font-size: 80%;
    font-weight: bold;
    padding: 0 0.35em;
    text-align: center;
    color: #ddd;
    text-shadow: 1px 1px 0px #222;
}




/* Team racing rank groups table */

#tr-rankgroup-table .tr-js-drag {
    text-align: center;
    font-size: 90%;
    color: #888;
    cursor: cell;
}
#tr-rankgroup-table .tr-js-grouplabel {
    text-align: center;
    font-weight: bold;
    font-size: 90%;
    cursor: not-allowed;
}




/* Announcements */

#announcements {
    margin: 0.5em auto;
    font-size:0.9em;
    max-width:820px;
    padding:0;
}
#announcements li, #help-alert {
    border-radius: 3px;
    box-shadow: 0 -1px 1px #AAAAAA inset;
    list-style-type: none;
    padding: 0.5em;
    margin-bottom: 0.5em;
}
#announcements .error, #help-alert.error {
    background: #eed2c0;
    border: 1px solid brown;
}
.valid, #announcements .success {
    background:#e0f3e0;
    border:1px solid green;
}
.valid {
    font-size: 90%;
    padding: 0.5em;
    border-radius: 3px;
    box-shadow: 0 -1px 1px #AAAAAA inset;
}
.warning, #announcements .warn {
    background: #f3f3bb;
    border: 1px solid orange;
}

.warning {
    padding: 0.5em;
}

#announcements img {
    margin-right:0.5em;
}




/* Navigation links */

.page-nav {
    margin: 0.5em 0;
    padding: 0;
}
.page-nav a {
    display: inline-block;
    padding: 0.05em 0.35em;
    background: #3465a4;
    color: white;
    text-decoration: none;
    font-size: 85%;
    border-right: 1px solid white;
    border-left: 1px solid #ccc;
    border-radius: 4px;
}

.page-nav a.current {
    background: #002d62;
    font-weight: bold;
}

.page-nav form {
    display: inline-block;
    font-size: 95%;
    margin-left: 1em;
    padding: 0;
}
.page-nav p {
    margin: 0;
}
.page-nav input {
    padding: 0.25em 0;
}
.page-nav input[type="submit"] {
    display: none;
}

#search  {
    margin: 0 0 1em;
    padding: 0;
}
#search input {
    padding: 0;
}



/* Progress Divs */

#progressdiv {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 3px solid #888;
    border-radius: 2em;
    box-shadow: 0 1px 2px #AAAAAA inset;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-size: 90%;
}

#progressdiv a {
    color: black;
    text-decoration: none;
    text-shadow: 0 1px white;
    padding: 0.5em;
}

#progressdiv span, #progressdiv input {
    display: inline-block;
    border-radius: none;
    background: none;
    border: none;
    border-left: 1px solid #ccc;
    margin: 0;
    padding: 0.5em;
    color: #888;
}

#progressdiv span {
    cursor: not-allowed;
}

#progressdiv input {
    cursor: pointer;
    background: #FFF6D5;
    color: black;
    font-weight: normal;
    text-shadow: 0 1px white;
}

#progressdiv .completed {
    cursor: default;
    background: #FFF6D5;
}

#progressdiv .current, #progressdiv #progress-active {
    background: #FFEEAA;
    cursor: default;
    color: black;
}



/* Help form screen */

#help-me {
    position: fixed;
    bottom: 0;
    right: 5%;
    top: auto;
    overflow: hidden;
    height: 2em;
    left: auto;
    width: 8em;
    background: #ccc;
    border-radius: 5px 5px 0 0;
    border: 1px solid #fff;
    box-shadow: 0 1px 0 3px #ddd;
    z-index: 2;
    opacity: 0.7;
}

#help-me:hover {
    height: 3em;
    opacity: 1;
}

#help-form-trigger {
    display: block;
    font-weight: bold;
    text-align: center;
    font-weight: bold;
}

#help-me-close {
    display: none;
}

#help-me #help-form {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 5px;
    font-size: 120%;
    margin-top: 3em;
    padding: 0.5em 1em;
    position: relative;
}

#help-me:target {
    background: rgba(0, 0, 0, 0.8);
    z-index: 20;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    border-radius: 0;
    border: none;
    padding: 0 1em;
}

#help-me:target #help-form-trigger {
    display: none;
}

#help-me:target #help-form-close {
    display: block;
    position: absolute;
    top: 5px;
    right: 1em;
}

#help-alert {
    color: #222;
}



/*
 * -------------------------------
 * Desktop view
 * -------------------------------
 */
@media screen and (min-width:800px) {

/* Header */

#m-title, #menubar .menu.mobile {
    display: none;
}

#headdiv {
    padding:0px;
    background:#3465a4;
    height: 2.5em;
}

#headbar {
    margin: 0 auto;
    max-width: 70em;
}

#headdiv h1 {margin:0px 10px;float:left;}
#headdiv img {
    max-height:40px;
    margin-top:0.25em;
}
#headdiv h4 {
    display: inline-block;
    zoom: 1;
    *display: inline;
    color:white;
    font-size:0.9em;
    font-weight:normal;
    padding:10px 5px;
    margin:0;
    margin-left: 1.5em;
}
#regatta {
    font-weight:bold;
}

#regatta > img {
    margin-left: 0.25em;
    vertical-align: bottom;
}

#regatta a {
    color: inherit;
    text-decoration: none;
}
#regatta a:hover {
    text-decoration: underline;
}
#help {
    display: inline-block;
    zoom: 1;
    *display: inline;

    font-size:0.8em;
    cursor:help;
    margin: 0.5em 0.25em;
    margin-left: 8em;
    padding:0.2em;
    float: right;
}
#help a {
    text-decoration: none;
    color: white;
}
#logout, #close, #public-link {
    display: inline-block;
    zoom: 1;
    *display: inline;

    color:#eeeeee;
    font-size:0.8em;
    margin: 0.5em 0.25em;
}
#logout a, #close a, #public-link a {
    color: #fff;
    text-decoration:none;
    background:#759DD1;
    border:1px solid #eee;
    padding:0.2em 0.75em;
    font-size:1em;
    border-radius: 15px;
    -moz-border-radius: 2px;
}



/* Foot section */

#footdiv {
    border-top: 1px solid #bbb;
    bottom: 0;
    color: #555555;
    font-size: 70%;
    margin-bottom: 0;
    padding: 1em;
}



/* Help form */

#help-form {
    max-width: 30em;
    margin: 0 auto;
}



/* Body section */

#bodydiv {
    margin: 0 auto;
    max-width: 70em;
    padding: 0.5em 1em;
    color: #111;
}


/* Menus */
#menudiv {
    width: 100%;
    background: #ddd;
    border-bottom: 1px solid #888;
    border-top: 1px solid white;
    height: 35px;
    min-width: 55em;
}

#menubar {
    height: 35px;
    margin: 0 auto;
    max-width: 70em;
    overflow: visible;
    position: relative;
    z-index: 10;
}

#menubar div.menu {
    display:table-cell;
    vertical-align:top;
    min-width:7.5em;
    font-size:1em;
    height:auto;
    margin:0px;
    background: none;
}
#menubar div.menu:first-child {
    margin-left:5px;
}
#menubar h4 {
    font-weight:heavy;
    margin: 0;
    padding: 8px 0.5em;
    cursor:pointer;
    font-size:0.9em;
    color: #333;
    text-shadow: 0 1px 0 #FFFFFF;
}
#menubar .menu:hover h4, #menubar .menu.open h4 {
    color: black;
    background: #bbb;
    background-image: url(/inc/img/down.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
}
#menubar ul {
    margin:0px;
    display:none;
    font-size:0.9em;
}
#menubar .menu.open {
    background: #ddd;
}
#menubar .menu.open ul {
    display:block;
    background-image:url('img/menu_bg_bot.png');
    background-repeat:repeat-x;
    background-position:0px 100%;
    padding:0px;
    border: 1px solid #AAAAAA;
    box-shadow: 2px 2px 4px #CCCCCC;
}
#menubar li {
    display:block;
    margin: 0;
    padding: 0;
    list-style-type:none;
}
#menubar li a {
    text-decoration:none;
    color:inherit;
    display:block;
    width:7.2em;
    padding: 0.5em;
}
#menubar li:hover {
    background:#b89f7e;
    color:white;
}
#menubar li.inactive {
    color:#777;
    padding: 0.5em;
}



/* Ports */

.port {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 1.5em;
    margin-top: 3.5em;
    padding: 1em 1em 0.5em;
    position: relative;
}

.collapsed  {
    background: #eee;
    height: 2em;
}
.port.collapsed {
    height: 0;
}
.collapsed * {
    display: none;
}
.port.js h3 {
    cursor: n-resize;
}
.port.js.collapsed h3 {
    cursor: s-resize;
}
.collapsable legend {
    display:inline-block;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
}
.collapsable legend:after {
    content: "click to collapse";
    font-weight: bold;
    font-size: 70%;
    margin-left: 1em;
}
.collapsable.collapsed legend:after {
    content: "click to expand";
}

.port > h3:first-child {
    border-radius: 3px 3px 0 0;
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #ddd;
    border-bottom: none;
    color: #333333;
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    left: 1em;
    margin: 0;
    padding: 0.5em 1em;
    position: absolute;
    text-shadow: 1px 1px 1px #FFFFFF;
    top: -2.3em;
}

.port h3 + p {
    margin-top: 0;
}
.p-submit {
    margin-bottom: 0.5em;
}


/* Finalize port */

#finalize, #approve-port {
    margin-top: 1.5em;

    background: #f3f3bb;
    background: -moz-linear-gradient(top, #f3f3bb 0%, #efdc5d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3bb), color-stop(100%,#efdc5d));
    background: -webkit-linear-gradient(top, #f3f3bb 0%,#efdc5d 100%);
    background: -o-linear-gradient(top, #f3f3bb 0%,#efdc5d 100%);
    background: -ms-linear-gradient(top, #f3f3bb 0%,#efdc5d 100%);
    background: linear-gradient(to bottom, #f3f3bb 0%,#efdc5d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3bb', endColorstr='#efdc5d',GradientType=0 );
    border: 1px solid #efdc5d;
    box-shadow: 0 2px 3px 1px #AAAAAA;
}

#finalize > h3, #approve-port > h3 {
    display: none;
}



/* Home ports */

#port-burgee {
    width: 12em;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    margin-right: 1em;
    height: 9em;
}
.burgee-cell {
    margin: 0;
}
.burgee-cell a {
    background: #F2EDE6;
    border-radius: 0.5em;
    display: inline-block;
    padding: 0.25em;
}
.burgee-cell a:hover {
    background: white;
}
#burgee-preview {
    text-align:center;
    background:#F2EDE6;
}
#burgee-preview img {
    vertical-align: middle;
    border: 1px solid #ccc;
    margin: 1em;
}

#port-team-names {
    width: 20em;
    display: inline-block;
    vertical-align: top;
    height: 9em;
}
#port-team-names ol {
    margin-top: 0;
}
#port-unregistered {
    width: 20em;
    background: #f3f3bb;
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;
    border-color: orange;
    height: 9em;
}
#port-unregistered ul {
    margin: 0 auto;
}





/* Form Inputs */
.form_entry {
    margin-bottom:1em;
}
.form_entry * {
    vertical-align:top;
}

.form_h {
    display:inline-block;
    width:10em;
    text-align:right;
    margin-right:1em;
    color:#5b6065;
    vertical-align:top;
    font-weight:bold;
    padding-top: 0.25em;
}
.required .form_h:before {
    content: "*";
    font-size: 90%;
    color: #3465A4;
    font-weight: bold;
    padding-right: 5px;
}

.form_b {
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
}

.span_h {
    margin-right: 0.5em;
}

.form-group {
    display: inline-block;
    margin-right: 1em;
}

.form_entry input {
    min-width: 15em;
}

.form_entry input[type="checkbox"] {
    min-width: 0;
}

.form_entry input.race_text, .form_entry input.small, .form_entry select.small, .form_entry .sail-input {
    min-width:3em;
    width: auto;
}




/* Conference divs */
.conf {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #888888;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    display: inline-block;
    zoom: 1;
    *display: inline;
    height: 25em;
    margin: 0.5%;
    overflow: auto;
    padding: 0.25em;
    width: 22%;
}

.conf h4 {
    border-bottom: 1px solid #555;
}



/* Tables */

table.narrow {
    display:inline-block;
    vertical-align:top;
    margin-right: 1em;
}
table.full {
    width:100%;
    margin-bottom:1em;
}



}



/*
 * ------------------------------
 * Mobile view
 * ------------------------------
 */
@media screen and (max-width:799px) {

html {
    background: #333;
}

/* General overrides */
body {
    font-size: 14pt;
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    line-height: 1.25em;
    position: relative;
    margin: 0;
}

#bodydiv {
    padding: 20px 10px;
}

.port {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 1.5em;
    margin-top: 50px;
    padding: 0 1em 0.5em;
    position: relative;
}

.port h3 {
    background: #fafafa;
    border: 1px solid #CCCCCC;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    color: #555555;
    font-size: 90%;
    font-weight: normal;
    margin: 0 auto;
    padding: 0.25em;
    position: relative;
    text-align: center;
    top: -1.5em;
    width: 90%;
}


#headdiv {
    background: #3465a4;
    height: 50px;
}
#headbar {
    display: table;
    width: 100%;
    background: url(/inc/img/techscore-m.png) no-repeat 20px 50%;
} 



/* Menus */

#headdiv h1 {
    display: table-cell;
    width: 50px;
    background: rgba(255,255,255,0.3);
    vertical-align: middle;
}
#headdiv h1.m-menu-hidden {
    background: rgba(255,255,255,0.6);
}
#headdiv h1:after {
    color: white;
    content: "☰";
    cursor: pointer;
    display: block;
    height: 38px;
    padding: 12px 5px 0;
}
#headdiv h1.m-menu-hidden:after {
    color: #3465A4;
}
#headdiv img {
    display: none;
}
#user-menudiv {
    display: none;
}
#user, #public-link, #logout, #help, #close {
    display: none;
}

#regatta, #m-title {
    display: table-cell;
    padding: 13px 0;
    font-size: 1em;
    text-align: center;
    overflow: hidden;
    height: 25px;
    color: white;
}

#regatta a {
    color: white;
    text-decoration: none;
}

#menudiv {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
    bottom: 0;
    left: 0;
    margin: 0 0 50px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 50px;
    width: 100%;
    z-index: 10;
    overflow: auto;
    overflow-x: hidden;
}
#menudiv.m-menu-hidden {
    display: none;
}
#menudiv li.inactive { color: #777; }
#menudiv.show {
    display: block;
}
.menu {
    background: #cccccc;
    padding: 0;
    vertical-align: top;
    border-bottom: 1px solid #555;
    text-align: left;
}
.menu h4 {
    background: none repeat scroll 0 center #282828;
    color: #FFFFFF;
    font-weight: normal;
    margin: 0;
    padding: 15px;
    text-align: center;
}
.menu.mobile h4 {
    background: #3465a4;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}
.menu.open ul {
    display: block;
}


.menu li {
    background: none repeat scroll 0 0 #DDDDDD;
    border-bottom: 1px solid #555555;
    border-top: 1px solid #FFFFFF;
    font-size: 95%;
    padding: 0;
}

.menu a {
    color: #000000;
    display: block;
    padding: 10px 0 10px 40px;
    text-decoration: none;
}



#footdiv {
    color: #CCCCCC;
    font-size: 80%;
    padding: 1em;
}



/* Help form */

#help-me {
    width: 3em;
}

#help-desk {
    display: none;
}




/* Announcements */

#announcements {
    font-size: 75%;
}



/* Input elements */

input, button {
    font-size: 16pt;
}

.form_h {
    display: block;
    text-align: left;
    color: black;
    font-size: 90%;
    margin-bottom: 5px;
}

.required .form_h:before {
    content: "*";
    font-size: 90%;
    color: #3465A4;
    font-weight: bold;
    padding-right: 5px;
}

.form_entry input, .form_entry textarea, .form_entry select {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Tables */

/* Current regattas: as list */
.regatta-list-current tr {
    display: block;
    position: relative;
}

.regatta-list-current tr td {
    display: inline-block;
    font-size: 95%;
    float: right;
}

.regatta-list-current tr td:nth-child(1) {
    float: left;
}

.regatta-list-current tr td:nth-child(2) {
    display: block;
    width: 70%;
    font-size: 110%;
    float: none;
}

.regatta-list-current tr td:nth-child(3) {
    clear: both;
}

.regatta-list-current tr td:last-child {
    position: absolute;
    top: 0;
    right: 0;
}

.regatta-list .reg-host, .regatta-list .reg-type {
    display: none;
}
}