/* TechScore main stylesheet */
/*                           */
/* @author Dayan Paez        */

.hidden 
{
  display: none;
}

html 
{
  background: #eee;
}

body 
{
  padding: 0px;
  margin: 0px auto;
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  line-height: 1.25em;
  }

#menudiv 
{
  background: none;
  background-image: url('img/menu_bg.png');
  background-repeat: repeat-x;
  background-position: 0px 0px;
  border-top: 1px solid #555555;
}

.menu ul 
{
  margin: 0px;
  font-size: 0.9em;
}

#menudiv li 
{
  display: inline-block;
  text-align: center;
  margin: 0px;
  margin-left: 0px;
  padding: 0.25em 0.5em;
  width: 100px;
  list-style-type: none;
}

#menudiv li a 
{
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  }
#menudiv li:hover 
{
  background: #b89f7e;
  color: white;
}

/* Header */
#headdiv 
{
  padding: 0px;
  background: #3465a4;
  border-top: 1px solid #555555;
}

#headdiv * {
    vertical-align: middle;
}

#headdiv h1 
{
  margin: 0px 10px;
  display: inline-block;
  width: 4em;
}
#headdiv img 
{
    display: block;
    width: auto;
    padding: 0.25em 0;
}
#headdiv h4 
{
    padding: 0 0.5em;
    margin: 0;
    display: inline-block;
    color: white;
    font-size: 0.9em;
}
#help 
{
  float: right;
  font-size: 0.7em;
  cursor: help;
  text-decoration: none;
  margin-top: 2px;
  margin-right: 10px;
  padding: 0px 1px;
  background: #f3ebe0;
  border: 1px outset #555555;
  }

/* Body div */
#bodydiv 
{
  padding: 0.5em;
  border-bottom: 1px solid #555555;
  margin-bottom: 0;
  background: white;
}

div.port 
{
  padding: 1em;
  padding-top: 0em;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
  }
div.port h3 
{
  color: #555555;
  margin: 0px;
  background: white;
  padding: 0.2em;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  font-weight: normal;
  display: inline-block;
  zoom: 1;
  *display: inline;
  }

h2 
{
  color: #b89f7e;
  }

/* Tables */
table 
{
  border-spacing: 0px;
  border-collapse: collapse;
  font-size: 0.9em;
  }
table td 
{
  border: 1px solid #bbbbbb;
  text-align: right;
  margin: 0px;
  padding: 0.25em;
  }
table th 
{
  border: 1px solid #bbbbbb;
  text-align: right;
  min-width: 2.25em;
  padding: 0 0.25em;
  font-size: 90%;
}
table thead 
{
  background: #b89f7e;
  background-image: url('img/table_bg.png');
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  height: 20px;
  color: black;
  }
table tbody 
{
  border: 1px solid #bbbbbb;
  }

table.results tbody *, table.rotation tbody *, table.sailors tbody *
{
  border: none;
  font-family: monospace;
  font-size: 110%;
}
table.results th  {
    text-align: right;
}
.totalrow, .totalcell
{
  background: #f3ebe0;
  color: #333;
  font-weight: bold;
}
tr.totalrow td {
  border-bottom: 1px solid #bbbbbb;
}

tr.topborder td {
    border-top: 1px solid #bbb;
}

td.races {
    text-align: left;
    font-size: 95%;
    color: #555;
    padding-left: 0.5em;
}

.row1 {
    background: #fff8ee;
}

td.schoolname, td.teamname, .results th.teamname {
    text-align: left;
}

/* Table fixes */
td.noborder, th.noborder, tr.noborder 
{
  border: none;
}

colgroup 
{
  border-right: 1px solid #bbbbbb;
  }

td.total 
{
  color: black;
}

table.divisional tr {
    border-bottom: 1px solid #bbb;
}

table.divisional .burgee-cell, table.division .burgee-cell {
    text-align: left;
}

table.sailors ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Announce */
#announcements {
    margin:1em auto;
    font-size:0.9em;
    width:820px;
    padding:0;
}
#announcements li {    list-style-type: none; padding: 0.5em;}
#announcements .error {background:#eed2c0;border:1px solid brown;}
p.valid, #announcements .success {background:#e0f3e0;border:1px solid green;}
p.warning, #announcements .warn {background:#f3f3bb;border:1px solid orange;}
p.warning {padding: 0.5em;}
#announcements img {margin-right:0.5em;}

#footdiv 
{
  font-size: 0.8em;
  color: #555;
  text-align: right;
}