/* TechScore main stylesheet */
/*                           */
/* @author Dayan Paez        */

tr.topborder td {
    border-top: 1px solid #bbb;
}

/* Table fixes */
td.noborder, th.noborder, tr.noborder 
{
  border: none;
}

colgroup 
{
  border-right: 1px solid #bbbbbb;
  }

td.total 
{
  color: black;
}

table.divisional tr {
    border-bottom: 1px solid #bbb;
}


.sailors .division-cell {
    vertical-align: top;
}

/* Team racing grids */
.teamscores {
    border: none;
}
.teamscores td {
    text-align: center;
    vertical-align: middle;
}
.tr-vert-label {
    height: 12em;
    text-align: left;
    transform: rotate(270deg);
    vertical-align: middle;
    width: 7em;
    word-break: hyphenate;
}

.tr-horiz-label {
    height: 7em;
    text-align: right;
    vertical-align: middle;
    width: 12em;
}

.tr-rec-th, .tr-pivot {
    vertical-align: bottom;
    border-left: none;
    border-top: none;
}

.tr-pivot {
    color: white;
    border-right: none;
}

.tr-ns {
    background: #ccc;
    color: #ccc;
}
.tr-win {
    background: #e0f3e0;
    font-weight: bold;
}
.tr-lose {
    background: #eed2c0;
    color: #555;
}
.tr-tie {
    background:#f3f3bb;
}
.tr-multtable {
    border: medium none;
    height: 100%;
    width: 100%;
}
.tr-multtable td {
    border: none;
}

.teamscorelist th, .tr-rotation-table thead th {
    text-align: center;
}
.roundrow th {
    padding: 0.5em 0;
}
.vscell {
    text-align: center;
}
.team1 {
    text-align: right;
}
.team2 {
    text-align: left;
}
.tr-incomplete {
    opacity: 0.8;
}

.teamranking .sailor {
    text-align: left;
    padding: 0 1em;
}

/* Team registrations */
.teamregistrations .tr-vert-label {
    width: 11em;
}

.teamregistrations > tbody > tr:hover {
    background: #f3f3bb;
}
.teamregistrations > tbody > tr:first-child:hover {
    background: none;
}
.tr-boats, .tr-boats * {
    border: 0;
}
.tr-boats {
    width: 100%;
}
.tr-boats tr {
    border-bottom: 1px dashed #aaa;
}
.tr-boats td {
    height: 3em;
    font-size: 90%;
}
.tr-boats td:hover {
    background: #fafaea;
}
.tr-boats tr:last-child {
    border-bottom: none;
}

td.tr-sail, td.sail {
    font-size: 80%;
    font-weight: bold;
    padding: 0 0.35em;
    text-align: center;
    color: #ddd;
    text-shadow: 1px 1px 0px #222;
}

.tr-rotation-table td {
    border-right: 0;
    border-left: 0;
}
.tr-flight td {
    text-align: center;
    font-size: 75%;
}

.tr-carried {
    opacity: 0.5;
}
.tr-rank-group {
    height: 1.25em;
    background: #ccc;
}

.tr-current {
    font-size: 105%;
}
.tr-sailed {
    opacity: 0.5;
}

.burgee-cell img {
    height: 30px;
    width: auto;
}
.teamranking img {
    height: 40px;
    width: auto;
}
.tr-rotation-table img, .teamscorelist img {
    height: 20px;
    width: auto;
}
.noshow {
    font-style: italic;
}

.tiebreaker thead th, .tiebreaker .explanation {
    text-align: left;
}
.boat {
    text-align: center;
    font-size: 80%;
    padding: 2px 10px;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    display: block;
    background: #eee;
}