
/* CSS for previewing pages using DPEditor */
#content {
    box-sizing: border-box;
    font-size: 11pt;
    margin: 0;
    padding: 0.5em;
    vertical-align: top;
    width: 100%;
    height: 25em;
}
.c-editor .no-width {
    width: auto;
}
.dpe-preview {
    display: inline-block;
    background: white;
    border: 1px solid #555;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    vertical-align: top;
    padding: 0 1em;
    height: 25em;
    box-shadow: 0 0 2px 2px #ccc inset;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* DPEditor goodness */
.dpe-wrapper {
    margin-top: 0;
    background: #eee;
    border: 1px solid #555;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0.5em;
}
.dpe-toolbar {
    margin: 0;
    letter-spacing: 1em;
    padding: 0.25em 0.25em 0.5em;
}
.dpe-toolbar button {
    padding: 0.15em;
    font-size: 105%;
    width: 2em;
    height: 2em;
    border-width: 1px;
    border-radius: 0.2em;
    border-color: #59ccff;
    margin: 0 0.15em;
    letter-spacing: normal;
    background: url('/inc/img/butbg.png');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-color: #ccc;
}

.dpe-toolbar button.preview-button {
    width: auto;
}

.dpe-toolbar select {
    color: #333;
    letter-spacing: normal;
}

.image-list {
    list-style-type: none;
    margin: 0.5em 2em;
    max-height: 10em;
    overflow-x: hidden;
    overflow-y: auto;
}

.image-list li {
    display: inline-block;
    margin: 0.25em;
    vertical-align: middle;
}

.image-list img {
    cursor: pointer;
    padding: 0.25em;
    border: 1px solid #888;
    border-radius: 0.25em;
    background: white;
}

.image-list img:hover {
    box-shadow: 0 2px 5px #888;
}

._ui-img-button {
    background: none repeat scroll 0 0 white;
    border: 1px solid #888888;
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    margin: 0.1em;
    padding: 0.25em;
    opacity: 0.8;
}

._ui-img-button.selected {
    opacity: 1;
    position: relative;
    transform: scale(1.2);
    z-index: 2;
}

/* Tab environments */

._ui_tab_environment {
    margin: 1em 0;
}

._ui_tab_handles {
    list-style-type: none;
    padding: 0;
}

._ui_tab_handle {
    background: none repeat scroll 0 0 #BBBBBB;
    border-radius: 0.25em 0.25em 0 0;
    color: #222222;
    display: inline-block;
    margin: 0 0 0 0.5em;
    padding: 0.5em;
    cursor: pointer;
    border: 1px solid #bbb;
    border-bottom: none;
    position: relative;
    z-index: 1;
    top: 5px;
}

._ui_tab_handle._ui_tab_selected {
    background: #f8f8f8;
    top: 2px;
    z-index: 3;
}

._ui_tab_bodies {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
}

._ui_tab_body {
    border: 1px solid #BBBBBB;
    padding: 1em;
    display: none;
    background: #f8f8f8;
    min-height: 2em;
    margin: 0;
}

._ui_tab_body._ui_tab_selected {
    display: block;
}


/* Local Variables: */
/* compile-command: "cd ../../../; make css" */
/* End:  */