/* Layout for printing */
/* Dayan Paez */

body {
    width: 100%;
    border: none;
    font-size: 1em;
    font-family: monospace;
}

div.menu {
    display: none;
}

h3 {
    margin-top: 0em;
    font-size: 1.2em;
}

div#headdiv {
    display: none;
}

div#footdiv {
    display: none;
}

div#announcediv {
    display: none;
}

div#bodydiv {
    width: 100%;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 0em;
}

div.port {
    width: 100%;
    margin-left: 0em;
    margin-right: 0.5em;
    margin-top: 3em;
    border: none;
    text-align: center;
}

div.port h3 {
    text-align: left;
    font-size: 1.2em;
    border-bottom: 1px solid black;
    font-weight: bold;
}

div#headerdiv {
    display: none;
}

div#menulink{
    display: none;
}

h1 {
    display: none;
}

table {
    display: table;
}

table, th, td {
    width: auto;
    margin: auto;
    text-align: right;
}

table td, table th {
    padding-bottom: 0em;
    padding-top: 0.2em;
    padding-left: 0.5em;
}

thead th {
    border-bottom: 1px solid #666666;
}

tr.totalrow td {
    padding-bottom: 1em;
}

td.sum {
    border-top: 1px solid #666666;
}

td.total {
    font-weight: bold;
}

table#divresults td {
    padding-bottom: 1em;
}

table#rotation td {
    padding-top: 0.5em;
}

table img {
    height: 1.5em;
}

thead {
    display: table-header-group;
}

.nonprint {
    display: none;
}

h2 {
    display: none;
}

hr {
    display: none;
}

/* Add some columns */
body.twocol {
    column-count: 2;
    -moz-column-count: 2;
}

/* Remove floats */
* {float: none !important;}

div {
    float: none !important;}
}

table {
    float: none !important;
}

/* Remove buttons from display */
input[type="submit"], input[type="reset"] {
    display: none;
}

input[type="text"] {
    border: none;
}