/* Layout for printing */
/* Dayan Paez */

body {
    width: 100%;
    border: none;
    font-size: 1em;
    font-family: monospace;
}

div.menu {
    display: none;
}

h3 {
    margin-top: 0em;
    font-size: 1.2em;
}

div#headdiv {
    display: none;
}

div#footdiv {
    display: none;
}

div#announcediv {
    display: none;
}

div#bodydiv {
    width: 100%;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 0em;
}

div.port {
    width: 100%;
    margin-left: 0em;
    margin-right: 0.5em;
    margin-top: 3em;
    border: none;
    text-align: center;
}

div.port h3 {
    text-align: left;
    font-size: 1.2em;
    border-bottom: 1px solid black;
    font-weight: bold;
}

div#headerdiv {
    display: none;
}

div#menulink{
    display: none;
}

h1 {
    display: none;
}

table {
    display: table;
}

table, th, td {
    width: auto;
    margin: auto;
    text-align: right;
}

table td, table th {
    padding-bottom: 0em;
    padding-top: 0.2em;
    padding-left: 0.5em;
}

thead th {
    border-bottom: 1px solid #666666;
}

tr.totalrow td {
    padding-bottom: 1em;
}

td.sum {
    border-top: 1px solid #666666;
}

td.total {
    font-weight: bold;
}

table#divresults td {
    padding-bottom: 1em;
}

table#rotation td {
    padding-top: 0.5em;
}

table img {
    height: 1.5em;
}

thead {
    display: table-header-group;
}

.nonprint {
    display: none;
}

h2 {
    display: none;
}

hr {
    display: none;
}

/* Add some columns */
body.twocol {
    column-count: 2;
    -moz-column-count: 2;
}

/* Remove floats */
* {float: none !important;}

div {
    float: none !important;}
}

table {
    float: none !important;
    border-collapse: collapse;
}

td {
    margin: 0;
}

/* Remove buttons from display */
input[type="submit"], input[type="reset"] {
    display: none;
}

input[type="text"] {
    border: none;
}

/* Team racing grids */
.teamscores {
    border: none;
}
.teamscores td {
    text-align: center;
    vertical-align: middle;
}
.tr-vert-label {
    height: 12em;
    text-align: left;
    transform: rotate(270deg);
    vertical-align: middle;
    width: 7em;
    word-break: hyphenate;
}

.tr-horiz-label {
    height: 7em;
    text-align: right;
    vertical-align: middle;
    width: 12em;
}

.tr-rec-th, .tr-pivot {
    vertical-align: bottom;
    border-left: none;
    border-top: none;
}

.tr-pivot {
    color: white;
    border-right: none;
}

.tr-ns {
    background: #ccc;
    color: #ccc;
}
.tr-win {
    background: #e0f3e0;
    font-weight: bold;
}
.tr-lose {
    background: #eed2c0;
    color: #555;
}
.tr-tie {
    background:#f3f3bb;
}
.tr-multtable {
    border: medium none;
    height: 100%;
    width: 100%;
}
.tr-multtable td {
    border: none;
}

.teamscorelist th, .tr-rotation-table thead th {
    text-align: center;
}
.roundrow th {
    padding: 0.5em 0;
}
.vscell {
    text-align: center;
}
.team1 {
    text-align: right;
}
td.team2 {
    text-align: left;
}

.teamranking td.sailor {
    text-align: left;
    padding: 0 1em;
}

/* Team registrations */
.teamregistrations .tr-vert-label {
    width: 11em;
}

.teamregistrations > tbody > tr:hover {
    background: #f3f3bb;
}
.teamregistrations > tbody > tr:first-child:hover {
    background: none;
}
.tr-boats, .tr-boats * {
    border: 0;
}
.tr-boats {
    width: 100%;
}
.tr-boats tr {
    border-bottom: 1px dashed #aaa;
}
.tr-boats td {
    height: 3em;
    font-size: 90%;
}
.tr-boats td:hover {
    background: #fafaea;
}
.tr-boats tr:last-child {
    border-bottom: none;
}

td.tr-sail {
    font-size: 80%;
    font-weight: bold;
    padding: 0 0.35em;
    text-align: center;
    color: #ddd;
    text-shadow: 1px 1px 0px #222;
}

.tr-rotation-table td {
    border-right: 0;
    border-left: 0;
}
.tr-flight td {
    text-align: center;
    font-size: 75%;
}