/* Styling specific only to Adding rounds listing */

#progressdiv {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #555555;
    border-radius: 2em;
    box-shadow: 0 1px 2px #AAAAAA inset;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-size: 90%;
}

#progressdiv a {
    color: black;
    text-decoration: none;
    text-shadow: 0 1px white;
}

#progressdiv span, #progressdiv input {
    display: inline-block;
    border-radius: none;
    background: none;
    border: none;
    border-left: 1px solid #888;
    margin: 0;
    padding: 0.5em;
    color: #888;
}

#progressdiv span {
    cursor: not-allowed;
}

#progressdiv input {
    cursor: pointer;
    background: #FFF6D5;
}

#progressdiv .completed {
    cursor: default;
    background: #FFF6D5;
}

#progressdiv .current {
    background: #FFEEAA;
    cursor: default;
}