.tr-rotation-table img, .teamscorelist img {
    height: 20px;
    width: auto;
}
.burgee-cell img {
    height: 40px;
    width: auto;
}
.totalrow .burgee-cell img {
    height: 30px;
}
.teamranking img {
    height: 40px;
    width: auto;
}

a img {
    border: none;
}

.noshow {
    font-style: italic;
}

@media screen {
.nav {
    display: none;
}

html {
    height: 100%;
}
body {
    display: table;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: "Lucida Grande",Tahoma,Verdana,sans-serif;
    font-family: Georgia,Tahoma,sans-serif;
    line-height: 1.25em;
    padding: 0;
}

a {
    color: #3465A4;
}

svg {
    display: block;
}

.coming-regattas thead {
    display: none;
}
.coming-regattas {
    background: #f2ede6;
    border: 1px solid #aaa;
    border-radius: 0.5em;
}
.coming-regattas * {
    border: none;
    padding: 0.5em;
    text-align: left;
}
.coming-regattas tr td:first-child {
    text-align: right;
}

#message-container {
    display: table;
    max-width: 65em;
    margin: 0 auto;
    border-spacing: 1em;
}

/* Welcome */
#welcome, #in-progress, #flickrwrap {
    background: #F2EDE6;
    border: 1px solid #ddd;
    margin: 0 0.5em;
    text-align: left;
    display: table-cell;
    padding: 0 1em;
    width: 40%;
    vertical-align: top;
}

#flickrwrap {
    text-align: center;
}

iframe {
    overflow: hidden;
    border: none;
    display: block;
    margin: 0 auto;
}

h1 {
    display: table;
    width: auto;
    margin: 0 auto;
    padding: 0.5em;
    border-spacing: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    color: #48484A;
    text-align: center;
    background: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 0.25em;
    font-size: 160%;
    position: relative;
    top: -0.75em;
}

#message-container span {
    display: table-cell;
}

#message-container p {
    margin-top: 0;
    margin-bottom: 1em;
}

/* In progress */
#in-progress, #flickrwrap {
    width: 60%;
}
#in-progress table {
    width: auto;
    margin-top: -1em;
}
#in-progress thead {
    display: none;
}
#in-progress td {
    border-bottom: 1px dotted #aaa;
}
#in-progress tr:last-child td {
    border-bottom: none;
}
#in-progress tr td:first-child {
    text-align: right;
}

#social-wrapper > div {
    display: inline-block;
    width: auto;
    margin: 0 0.5ex;
}

.notice {
    border:1px solid orange;
    background:#f3f3bb;
    padding: 1ex;
}
}

@media screen and (min-width:800px) {
body {
    background: #6C6D6F;
}

#page-header {
    background: white;
}

#menu-wrapper {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

#menu {
    max-width: 60em;
    min-width: 35em;
    margin: 0 auto;
    list-style-type: none;
    padding: 0.5em 0;
    display: table;
    width: 100%;
}

.chart-container {
    display: block;
    max-width: 60em;
    max-width: 95vw;
    overflow: auto;
    overflow-y: hidden;
}
.notice-item {
    border: 1px solid #EEEEEE;
    border-radius: 1ex;
    display: inline-block;
    margin: 1ex 1%;
    padding: 0 1%;
    vertical-align: top;
    width: 45%;
    background: #f2ede6;
    box-shadow: 0 1px 3px 0 #888888;
}
.notice-preview > img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #888888;
    border-radius: 0.5ex;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 96%;
    padding: 1%;
}
}

#menu li {
    font-family: Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.12em;
    font-stretch: condensed;
    font-weight: bold;
    border-right: 1px solid #ddd;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 2em;
    min-width: 6em;
}

#menu li:last-child {
    border-right: none;
}

li#logo {
    width: 5em;
    border-right: none;
}
li#logo img {
    position: absolute;
    margin-left: -50px;
    top: 0.75em;
    border: none;
}

#menu a {
    color: #222;
    text-decoration: none;
}
#menu a:hover {
    color: #888;
}

/* content header */

#content-header {
    background: #F2EDE6;
    border: 1px solid #ddd;
    margin: 0 auto;
    text-align: center;
    max-width: 50em;
}

#content-header h1 {
    display: table;
    width: auto;
    margin: 0 auto;
    padding: 0.5em;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    color: #48484A;
    text-align: center;
    background: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 0.25em;
    font-size: 160%;
    position: relative;
    top: -0.75em;
}

#content-header span {
    display: table-cell;
    line-height: 2ex;
}

#left-fill, .left-fill {
    width: 90px;
    height: 15px;
    background: url('/inc/img/left-fill.png');
    background-repeat: no-repeat;
    vertical-align: middle;
}
#right-fill, .right-fill {
    width: 90px;
    height: 15px;
    background: url('/inc/img/right-fill.png');
    background-repeat: no-repeat;
    vertical-align: middle;
}

#page-info {
    font-size: 0.9em;
    color: #555;
    margin: -1em 0 0.5em;
    width: 100%;
    border-collapse: collapse;
    border: none;
    padding: 0;
    list-style-type: none;
    display: table;
}

#page-info li {
    display: table-row;
    border-bottom: 1px solid #ddd;
}

#content-header .page-info-key {
    line-height: 2em;
    padding: 0 1%;
    text-align: right;
    width: 45%;
}

.page-info-value {
    font-weight: bold;
    padding: 0.25em;
    text-align: left;
}

#page-info tbody {
    border: none;
}
#page-info th {
    text-align: right;
    font-weight: normal;
    font-size: 90%;
    width: 45%;
    padding: 0.25em 1em;
    border: none;
}
#page-info td {
    text-align: left;
    font-weight: bold;
    border: none;
}

#page-info td#social-wrapper {
    text-align: center;
}

#page-info tr {
    border-bottom: 1px solid #ddd;
}
#page-info tr:last-child {
    border-bottom: none;
}
#page-content {
    background: white;
    padding: 3.5em 0 2em;
    vertical-align: top;
}

/* footer */
#page-footer {
    padding: 0;
    margin: 0;
    height: 12em;
}
#page-footer h3 {
    font-size: 0.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: Arial,Helvetica,sans-serif;
    margin-bottom: 0;
}
#sponsors {
    max-width: 60em;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

#sponsors li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
}
#sponsors img {
    border: none;
}

#sponsors-list {
    padding: 0;
}

address {
    border-top: 1px solid #888;
    max-width: 74em;
    margin: 0 auto;
    color: #ccc;
    font-size: 0.8em;
    text-align: right;
}

address a {
    color: #ccc;
    text-decoration: none;
}

.port {
    min-width: 50em;
    display: table;
    margin: auto;
    padding: 0 1ex;
}

.port p {
    max-width: 50em;
}

/* Table */
table 
{
  border-spacing: 0px;
  border-collapse: collapse;
  font-size: 0.9em;
  margin: 1em auto;
  }
table td 
{
  border: 1px solid #bbbbbb;
  text-align: right;
  margin: 0px;
  padding: 0.25em;
  }
table th 
{
  border: 1px solid #bbbbbb;
  text-align: right;
  min-width: 2.25em;
  padding: 0 0.25em;
  font-size: 90%;
}
table thead
{
  background: #eae5d6;
  background-image: url('/inc/img/table_bg.png');
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  height: 20px;
  color: black;
  }
table tbody 
{
  border: 1px solid #bbbbbb;
  }

table.results tbody *, table.rotation tbody *, table.sailors tbody *
{
  border: none;
}
table.results th  {
    text-align: right;
}
.totalrow, .totalcell
{
    background: #f3ebe0;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(243,235,224,1) 44%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(44%,rgba(243,235,224,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(243,235,224,1) 44%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(243,235,224,1) 44%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(243,235,224,1) 44%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(243,235,224,1) 44%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f3ebe0',GradientType=0 ); /* IE6-9 */

    color: #333;
    font-weight: bold;
}
tr.totalrow td {
  border-bottom: 1px solid #888;
}

tr.topborder td {
    border-top: 1px solid #bbb;
}

td.races {
    text-align: left;
    font-size: 95%;
    color: #555;
    padding-left: 0.5em;
}

.row1 {
    background: #F2EDE6;
}

td.schoolname, td.teamname, th.teamname {
    text-align: left;
}

/* Table fixes */
td.noborder, th.noborder, tr.noborder 
{
  border: none;
}

colgroup 
{
  border-right: 1px solid #bbbbbb;
  }

td.total 
{
  color: black;
}

table.divisional tr {
    border-bottom: 1px solid #bbb;
}
table.divisional .burgee-cell, table.division .burgee-cell {
    text-align: left;
}

table.sailors ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#announcediv {
    background: none repeat scroll 0 0 #F3EBE0;
    font-size: 0.9em;
    margin: auto auto 20px;
    width: 100%;
}
#announcediv p {
    margin: 5px 15px;
}
div.message {
    background: none repeat scroll 0 0 #F3EBE0;
    border: 1px solid #3465A4;
    margin: 10px 0;
    padding: 1em;
}
table.coordinate td:hover {
    background: none repeat scroll 0 0 #FFECD1;
}
tr.totalrow td:hover {
    background: none;
}
div.stat {
    font-size: 105%;
}
div.stat .prefix {
    color: #555555;
    display: inline-block;
    font-weight: bold;
    margin-right: 2%;
    margin-top: 0.5em;
    text-align: right;
    width: 40%;
}

#rank-filter {
    margin:0.25em auto;
    text-align:center;
}
#rank-filter input {
    display:none;
}
#rank-filter label {
    margin-right:1em;
    background:#ccc;
    border:1px solid #aaa;
    border-top:1px solid #eee;
    border-bottom:1px solid #555;
    width:2em;
    display:inline-block;
    cursor:pointer;
    padding:0.15em 0.25em;
}
#rank-filter label.selected {
    background:#aaa;
    border:1px solid #ccc;
    border-top:1px solid #888;
    border-bottom:1px solid #eee;
}

/* School summary table */
.schools-table tbody {
    border: none;
    text-align: center;
}
.schools-table thead {
    display: none;
}
.schools-table tr {
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 15em;
    margin: 0.5em 1%;
    position: relative;
    overflow: hidden;
    border: 1px solid #aaa;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    vertical-align: top;
    height: 6em;
    text-align: right;
    box-shadow: inset 0 -3px 5px #ccc;
}
.schools-table tr:hover {
    box-shadow: inset 0 -3px 5px #aaa;
}
.schools-table td {
    border: none;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.schools-table .schoolname {
    font-weight: bold;
    text-align: right;
    display: block;
}
.schools-table .burgeecell {
    position: absolute;
    bottom: 0;
    left: 0.5em;
}

.schools-table img {
    height: 40px;
    width: auto;
}

.burgee {
    max-width: 50em;
    text-align: center;
    margin: 1em auto;
}

.left {
    text-align: left;
}

.season-summary tbody th {
    text-align: center;
    padding: 0.5em;
    background: #E6E0D3;
}

.season-summary th, .participation-table th {
    text-align: left;
}

.participation-table tbody, .season-summary tbody {
    border: none;
}

.participation-table td, .season-summary td {
    text-align: left;
    border: none;
    padding: 0.5em;
}

.season-summary, .participation-table {
    width: 100%;
}

.season-summary img {
    height: 40px;
    width: auto;
}

/* Submenu */
#submenu-wrapper {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0.5em 0;
    margin-top: 1em;
}
#other-seasons {
    list-style-type: none;
    display: table;
    max-width: 60em;
    margin: 0 auto;
    padding: 0;
}
#other-seasons li {
    text-align: center;
    display: table-cell;
    border-right: 1px solid #ddd;
    padding: 0 1em;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: bold;
}
#other-seasons li:last-child {
    border-right: none;
}
#other-seasons a {
    color: #222;
    text-decoration: none;
}
#other-seasons a:hover {
    color: #888;
}

.coming-regattas thead {
    display: none;
}
.coming-regattas {
    background: #f2ede6;
    border: 1px solid #aaa;
    border-radius: 0.5em;
}
.coming-regattas * {
    border: none;
    padding: 0.5em;
    text-align: left;
}
.coming-regattas tr td:first-child {
    text-align: right;
}

.tiebreaker th {
    text-align: left;
}
.tiebreaker th, .tiebreaker td {
    border: none;
}
.tiebreaker tr td:last-child {
    text-align: left;
}
/* Team racing grids */
.teamscores, .teamscores tbody {
    border: none;
}
.teamscores td {
    text-align: center;
    vertical-align: middle;
}
.tr-vert-label {
    height: 12em;
    text-align: left;
    transform: rotate(270deg);
    vertical-align: middle;
    width: 7em;
    word-break: hyphenate;
}

.tr-horiz-label {
    height: 7em;
    text-align: right;
    vertical-align: middle;
    width: 12em;
}

.tr-rec-th, .tr-pivot {
    vertical-align: bottom;
    border-left: none;
    border-top: none;
}

.tr-pivot {
    color: white;
    border-right: none;
}

.tr-ns {
    background: #ccc;
    color: #ccc;
}
.tr-win {
    background: #e0f3e0;
    font-weight: bold;
}
.tr-lose {
    background: #eed2c0;
    color: #555;
}
.tr-tie {
    background:#f3f3bb;
}
.tr-multtable {
    border: medium none;
    height: 100%;
    width: 100%;
}
.tr-multtable td {
    border: none;
}

.teamscorelist th, .tr-rotation-table thead th {
    text-align: center;
}
.roundrow th {
    padding: 0.5em 0;
}
.vscell {
    text-align: center;
}
.team1 {
    text-align: right;
}
.team2 {
    text-align: left;
}

.teamranking .sailor {
    text-align: left;
    padding: 0 1em;
}

/* Team registrations */
.teamregistrations .tr-vert-label {
    width: 11em;
}

.teamregistrations > tbody > tr:hover {
    background: #f3f3bb;
}
.teamregistrations > tbody > tr:first-child:hover {
    background: none;
}

.tr-boats, .tr-boats * {
    border: 0;
}
.tr-boats {
    width: 100%;
}
.tr-boats tr {
    border-bottom: 1px dashed #aaa;
}
.tr-boats td {
    height: 3em;
    font-size: 90%;
}
.tr-boats td:hover {
    background: #fafaea;
}
.tr-boats tr:last-child {
    border-bottom: none;
}
.tr-carried {
    opacity: 0.5;
}
.tr-rotation-table td {
    border-right: 0;
    border-left: 0;
}
.tr-flight td {
    text-align: center;
    font-size: 75%;
}
td.tr-sail {
    font-size: 80%;
    font-weight: bold;
    padding: 0 0.35em;
    text-align: center;
    color: #ddd;
    text-shadow: 1px 1px 0px #222;
}
.tr-rank-group {
    height: 1.25em;
    background: #ccc;
}

#top-wrapper {
    display: table;
    width: 60em;
    margin: 0 auto;
}

#search-wrapper {
    display: table-cell;
    width: 30%;
}

#last_updated {
    font-family: sans-serif;
    font-size: 0.8em;
    color: #888;
    margin: 0 auto;
    padding: 0.5em 0;
    display: table-cell;
    vertical-align: middle;
    width: 25ex;
}

#social {
    padding: 0.5em 0;
    vertical-align: middle;
    display: table-cell;
}

#social a {
    margin-right: 0.5em;
}

.gsc-control-cse table tbody, .gsc-control-cse td {
    border: none;
    padding: 0;
}

#search-wrapper table {
    margin: 0;
}

#search-wrapper .gsc-control-cse {
    padding: 0;
}

.gsc-search-box td {
    vertical-align: middle;
}

.gsc-input {
    font-family: Arial,sans-serif;
    font-size: 75%;
    color: #222;
}

@media screen and (max-width:799px) {
    html {
        background: none;
        font-size: 14pt;
    }

    body {
        background: none;
        display: block;
    }

    #last_updated {
        display: none;
    }

    #menu-wrapper {
        border: none;
    }

    #menu {
        font-size: 11pt;
        display: block;
        max-width: 100%;
        padding: 0;
        position: relative;
        min-width: 20ex;
        width: auto;
        margin: 0;
        text-align: center;
    }

    #menu li {
        display: inline-block;
        padding: 0 2ex;
        text-align: center;
        border: none;
        border-bottom: 1px solid #ddd;
        background: rgba(255,255,255,0.8);
    }

    #menu li a {
        display: block;
        padding: 1ex;
        
    }

    li#logo {
        left: 0;
        top: 0;
        position: absolute;
        text-align: left;
        border: none;
        width: 20ex;
        z-index: -1;
        padding: 0;
    }

    li#logo img {
        margin: 0;
        position: static;
        top: 0;
        width: 20ex;
        height: auto;
    }

    #top-wrapper {
        display: table;
        width: 100%;
    }

    #page-footer {
        height: auto;
        background: #6C6D6F;
    }

    .port {
        min-width: 10em;
    }

    table th {
        min-width: 0.25em;
    }

    #social {
        display: table-cell;
        height: 20px;
        text-align: center;
        width: 10ex;
    }

    #search-wrapper {
        display: table-cell;
        width: auto;
        height: 35px;
    }

    #page-content {
        padding-top: 1.5em;
    }

    #message-container {
        display: block;
    }

    #welcome, #in-progress {
        display: block;
        width: 95%;
        margin: 0 auto;
    }

    #welcome {
        margin-bottom: 3em;
        font-size: 90%;
    }

    #other-seasons {
        text-align: center;
    }

    #other-seasons li {
        display: inline-block;
    }

    #other-seasons a {
        display: block;
        width: 8em;
        padding: 0.5em 0;
    }

    h3 {
        margin: 1ex;
        font-size: 90%;
    }

.season-summary, .participation-table {
    text-align: center;
}

.season-summary thead, .participation-table thead {
    display: none;
}
.season-summary tr {
    display: block;
    width: 100%;
    margin-top: 2em;
}
.season-summary tr:first-child {
    margin-top: 0;
}
.season-summary tr.row0, .season-summary tr.row1,
.participation-table tr.row0, .participation-table tr.row1 {
    margin-top: 0;
    display: inline-block;
    width: 25ex;
    vertical-align: top;
}
.season-summary td, .participation-table td {
    display: block;
    width: 100%;
    margin-left: 1em;
    padding: 0.3ex 0.5ex;
    white-space: normal;
}

.season-summary tbody th {
    display: block;
    width: 100%;
    padding: 0.5em 0;
}

.season-summary tr td:first-child, .participation-table tr td:first-child {
    margin-left: 0;
    font-size: 110%;
    font-weight: bold;
}

.coming-regattas {
    background: none;
    border: none;
}

.coming-regattas tbody {
    text-align: center;
}

.coming-regattas td {
    display: block;
    padding: 0.25ex 0.5ex;
    background: #f2ede6;
}

.coming-regattas tr td:first-child {
    text-align: left;
    font-size: 110%;
    font-weight: bold;
}

.coming-regattas tr {
    display: inline-block;
    width: 20ex;
    vertical-align: top;
    font-size: 95%;
    padding: 0.5ex;
}

.coming-regattas a {
    padding: 0;
}

#in-progress table {
    width: 100%;
}

#in-progress tr {
    border-bottom: medium none;
    display: inline-block;
    min-width: 20ex;
    vertical-align: top;
    width: 48%;
}

#in-progress tr td:first-child {
    text-align: left;
    font-size: 110%;
    font-weight: bold;
}
#in-progress td {
    border-bottom: none;
}

#content-header span {
    line-height: auto;
}
#content-header h1 {
    font-size: 130%;
}
#page-info {
    font-size: 80%;
    margin-bottom: 0;
}
#page-info th {
    width: 25%;
    padding: 0.1em;
}
#page-info td {
    padding: 0.1em 0.5em;
}
#page-info td#social-wrapper {
    padding-top: 0.5em;
}
.season-page #page-info, .school-page #page-info, .school-summary-page #page-info {
    display: none;
}
.season-page #content-header,
.school-page #content-header,
.school-summary-page #content-header {
    background: none;
    border: none;
}
.season-page #content-header h1,
.school-page #content-header h1,
.school-summary-page #content-header h1 {
    position: static;
    top: 0;
}
.season-page #page-content,
.school-page #page-content,
.school-summary-page #page-content {
    padding-top: 1.5em;
}
.notice-item {
    border: 1px solid #EEEEEE;
    border-radius: 1ex;
    margin-bottom: 1ex;
    padding: 0 1ex;
    vertical-align: top;
    background: #f2ede6;
    box-shadow: 0 1px 3px 0 #888888;
}
.notice-preview > img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #888888;
    border-radius: 0.5ex;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 90vw;
    padding: 1vw;
}
}

@media screen and (max-width:500px) {
    #content-header #left-fill, #content-header #right-fill {
        display: none;
    }
}

@media print {
/* Hide navigation material */
html {
    font-size: 10pt;
}

body, #left-fill, #right-fill {
    background: none;
}

a {
    color: black;
    text-decoration: none;
    border: none;
}

.nav, #page-header, #submenu-wrapper, #welcome, #flickwrap, #social-wrapper {
    display: none;
}

#page-content {
    padding-top: 1.5em;
}

table {
    page-break-inside: auto;
}

tr {
    page-break-inside: avoid;
    page-break-after:auto;
}

table * {
    font-family: monospace;
}

#content-header table * {
    border: none;
}

thead {
    display: table-header-group;
    background-color: #ccc;
}

#sponsors h3 {
    display: none;
}

#sponsors-list {
    text-align: center;
}

#sponsors-list img {
    max-height: 5em;
}
.chart-container {
    display: block;
    max-width: 60em;
    max-width: 95vw;
    overflow: auto;
    overflow-y: hidden;
}
}

/* Rules for mobile switch */
#ms-screen {
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    padding-top: 50px;
}

#ms-container {
    display: table;
    background: white;
    border-radius: 2ex;
    margin: 0 auto;
    padding: 1ex 2ex;
    font-size: 24pt;
    line-height: 2ex;
    max-width: 80%;
    font-family: Arial,sans-serif;
}

#ms-buttons {
    text-align: center;
}

#ms-buttons button {
    border-radius: 1ex;
    padding: 1ex 2ex;
    margin: 0.5ex;
    background: #f2ede6;
    border-width: 1px;
}

#ms-message {
    font-size: 16pt;
    color: #888;
}