.hidden {
    display: none;
}
body {
    font-family: "Lucida Grande",Tahoma,Verdana,sans-serif;
    line-height: 1.25em;
    margin: 0;
    padding: 0;
}

#footdiv {
    color: #555555;
    font-size: 70%;
    margin-bottom: 0;
}


#headdiv {
    background: none repeat scroll 0 0 #3465A4;
    height: 37px;
    padding: 0;
}
#headdiv h1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 0;
    padding: 0;
}
#headdiv h4 {
    color: white;
    float: right;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0.5em;
}
a.nav {
    background: none repeat scroll 0 0 #F3EBE0;
    border: 1px outset #555555;
    float: right;
    font-size: 0.8em;
    margin-right: 10px;
    margin-top: 5px;
    padding: 0.2em;
    text-decoration: none;
}

#menudiv {
    background: #ddd;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#f0f0f0');
    background: -webkit-gradient(linear, left top, left bottom, from(#b3b3b3), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #b3b3b3,  #f0f0f0);

    margin: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 35px;
    padding: 0;
    padding-right: 1em;
    text-align: right;
    vertical-align: top;
    list-style-type: none;
}
#menudiv > li {
    text-align: left;
    vertical-align: top;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 0;
    padding: 0;
    border-left: 1px solid #aaa;
    border-right: 1px solid #eee;
}
#menudiv > li:last-child {
    min-width: 8em;
}
#menudiv > li.emph, .submenu > li.emph {
    background: #eee;
    color: black;
}
#menudiv > li:hover {
    background: #ddd;
    color: black;
}
#menudiv li a, #menudiv li span {
    color: black;
    display: block;
    height: 30px;
    padding: 0.25em 1em 0;
    text-decoration: none;
    color: inherit;
    display: block;
    text-decoration: none;
}
#menudiv li span {
    cursor: s-resize;
}

.submenu {
    display: none;
    max-width: 8em;
    margin: 0;
    margin-top: -2px;
    padding: 0;
    background: #ddd;
    list-style-type: none;
    border: 1px solid #ccc;
    border-top: none;
}
.submenu li {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #ccc;
}
.submenu li:hover {
    background: #eee;
}

#menudiv li:hover .submenu {
    display: block;
    position: relative;
    z-index: 8;
}



#body {
    background: none repeat scroll 0 0 #eee;
    border-bottom: 1px solid #888;
    padding-top: 0;
}
.port {
    background: none repeat scroll 0 0 white;
    border: 1px solid #CCCCCC;
    border-left: none;
    border-right: none;
    margin: 1em 0 1.5em;
    padding: 0 1em 1em;
}
.small {
    display: inline-block;
    width: auto;
}
.port h3 {
    background: none repeat scroll 0 0 white;
    color: #555555;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em 0;
    padding: 0.2em;
}
h2 {
    color: #B89F7E;
    margin-bottom: 0;
    text-align: center;
}

/* Tables */
table 
{
  border-spacing: 0px;
  border-collapse: collapse;
  font-size: 0.9em;
  margin: auto;
  }
table td 
{
  border: 1px solid #bbbbbb;
  text-align: right;
  margin: 0px;
  padding: 0.25em;
  }
table th 
{
  border: 1px solid #bbbbbb;
  text-align: right;
  min-width: 2.25em;
  padding: 0 0.25em;
  font-size: 90%;
}
table thead 
{
  background: #b89f7e;
  background-image: url('img/table_bg.png');
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  height: 20px;
  color: black;
  }
table tbody 
{
  border: 1px solid #bbbbbb;
  }

table.results tbody *, table.rotation tbody *, table.sailors tbody *
{
  border: none;
  font-family: monospace;
  font-size: 110%;
}
table.results th  {
    text-align: right;
}
.totalrow, .totalcell
{
  background: #f3ebe0;
  color: #333;
  font-weight: bold;
}
tr.totalrow td {
  border-bottom: 1px solid #bbbbbb;
}

tr.topborder td {
    border-top: 1px solid #bbb;
}

td.races {
    text-align: left;
    font-size: 95%;
    color: #555;
    padding-left: 0.5em;
}

.row1 {
    background: #fff8ee;
}

td.schoolname, td.teamname {
    text-align: left;
}

/* Table fixes */
td.noborder, th.noborder, tr.noborder 
{
  border: none;
}

colgroup 
{
  border-right: 1px solid #bbbbbb;
  }

td.total 
{
  color: black;
}

table.divisional tr {
    border-bottom: 1px solid #bbb;
}

table.sailors ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#announcediv {
    background: none repeat scroll 0 0 #F3EBE0;
    font-size: 0.9em;
    margin: auto auto 20px;
    width: 100%;
}
#announcediv p {
    margin: 5px 15px;
}
div.message {
    background: none repeat scroll 0 0 #F3EBE0;
    border: 1px solid #3465A4;
    margin: 10px 0;
    padding: 1em;
}
table.coordinate td:hover {
    background: none repeat scroll 0 0 #FFECD1;
}
#reg-details ul {
    color: #666666;
    font-size: 110%;
    line-height: 1.35em;
    list-style-type: none;
    margin-top: 0.5em;
    padding: 0;
}
div.stat {
    font-size: 105%;
}
div.stat .prefix {
    color: #555555;
    display: inline-block;
    font-weight: bold;
    margin-right: 2%;
    margin-top: 0.5em;
    text-align: right;
    width: 40%;
}

#rank-filter {
    margin:0.25em auto;
    text-align:center;
}
#rank-filter input {
    display:none;
}
#rank-filter label {
    margin-right:1em;
    background:#ccc;
    border:1px solid #aaa;
    border-top:1px solid #eee;
    border-bottom:1px solid #555;
    width:2em;
    display:inline-block;
    cursor:pointer;
    padding:0.15em 0.25em;
}
#rank-filter label.selected {
    background:#aaa;
    border:1px solid #ccc;
    border-top:1px solid #888;
    border-bottom:1px solid #eee;
}