/* Hide navigation material */
html {
    font-size: 10pt;
}

body, #left-fill, #right-fill {
    background: none;
}

a {
    color: black;
    text-decoration: none;
    border: none;
}

.nav, #page-header, #submenu-wrapper, #welcome {
    display: none;
}

#page-content {
    padding-top: 1.5em;
}

table {
    page-break-inside: auto;
}

tr {
    page-break-inside: avoid;
    page-break-after:auto;
}

table * {
    font-family: monospace;
}

#content-header table * {
    border: none;
}

table img {
    height: 1.5em;
}

thead {
    display: table-header-group;
    background-color: #ccc;
}

#sponsors h3 {
    display: none;
}

#sponsors-list {
    text-align: center;
}

#sponsors-list img {
    max-height: 5em;
}
