/* Styling specific only to All-American listing */

#aa-results, #aa-input {
    display: inline-block;
    zoom: 1;
    *display: inline;
    background: #ccc;
    border: 1px solid #888;
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -webkig-border-radius: 0.25em;
    width: 40%;
    height: 10em;
    padding: 0;
    margin: 1em 3%;
    overflow: scroll;
    overflow-x: hidden;
    list-style-type: none;
}

#aa-results-one {
    display: block;
    margin: 1em auto;
    background: #ccc;
    border: 1px solid #888;
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -webkig-border-radius: 0.25em;
    overflow: scroll;
    overflow-x: hidden;
    list-style-type: none;
    height: 10em;
    width: 50%;
}

#aa-results li, #aa-input li {
    background: #ddd;
    margin: 0;
    padding: 0.25em;
}

#aa-table thead {
    background: #b89f7e;
}

#aa-table thead th.rotate {
    width: 3em;
    max-width: 3em;
    overflow: hidden;
    position: relative;
}
#aa-table thead th.rotate:hover {
    width: auto;
    max-width: none;
    background: #c8af8e;
}