.hidden {display:none;}
html {background:#7eade6;background-image:url('img/page_bg.png');}
body {width:900px;padding:0px;margin:0px auto;font-family:"Lucida Grande", Tahoma, Verdana, sans-serif;line-height:1.25em;}
#footdiv {color:#555;font-size:70%;margin-bottom:0px;}
#bodydiv {background:white;}
#menudiv {width:900px;position:absolute;top:40px;overflow:auto;min-height:30px;z-index:10;background:none;background-image:url('img/menu_bg.png');background-repeat:repeat-x;background-position:0px 0px;border-top:1px solid #555555;}
#menudiv div.menu {display:inline-block;zoom:1;*display:inline;vertical-align:top;padding:0.25em 0.1em;min-width:106px;max-width:150px;font-size:1em;height:auto;margin:0px;}
#menudiv div.menu:first-child {margin-left:5px;}
input, select {font-size:1em;padding:0.15em}
.form_entry input[type="text"], .form_entry input[type="password"], .form_entry select {min-width:15em;padding:0.15em}
.form_entry input.race_text, .form_entry input.small {min-width:3em;}
#menudiv h4 {font-weight:normal;margin-top:0px;margin-bottom:0px;cursor:pointer;font-size:0.9em;}
#menudiv ul {margin:0px;display:none;font-size:0.9em;}
#menudiv .menu {border-right:1px solid #ccc;}
#menudiv div.menu:hover {background:#dadada;background-image:url('img/menu_bg_top.png');background-repeat:repeat-x;background-position:0px 0px;border-right:1px solid #aaa;border-bottom:1px solid #aaa;}
#menudiv div.menu:hover ul {display:block;background-image:url('img/menu_bg_bot.png');background-repeat:repeat-x;background-position:0px 100%;padding:0px;}
#menudiv li {display:block;margin:0.25em 0px;padding:0.1em;list-style-type:none;}
#menudiv li a {text-decoration:none;color:inherit;display:block;width:100%;}
#menudiv li:hover {background:#b89f7e;color:white;}
#menudiv li.inactive {color:#777;}
#headdiv {position:absolute;top:0px;height:40px;padding:0px;width:900px;background:#3465a4;border-top:1px solid #555555;}
#headdiv h1 {margin:0px 10px;float:left;}
#headdiv img {height:40px;margin-top:5px;}
#headdiv h4 {float:left;color:white;font-size:0.9em;font-weight:normal;padding:10px 5px;margin:0;border-left:1px solid #457dc4;}
h4#regatta {font-weight:bold;}
#help {float:right;font-size:0.8em;cursor:help;text-decoration:none;margin-top:10px;margin-right:10px;padding:0.2em;background:#f3ebe0;border:1px outset #555555;}
#user {float:right;color:#eeeeee;font-size:0.8em;margin-right:120px;margin-top:10px;}
#user ul {margin:0px;margin-left:-2em;margin:white;display:none;}
#user a {text-decoration:none;background:#f3ebe0;border:1px outset #555555;padding:0.2em;position:absolute;right:60px;top:10px;font-size:1em;}
#regatta {float:right;color:#eeeeee;font-size:0.8em;margin-right:10px;padding-right:10px;margin-top:10px;}
#regatta ul {margin:0px;margin-left:-2em;margin:white;display:none;}
#regatta a {position:absolute;right:5px;top:45px;height:24px;text-align:right;padding-right:16px;background-image:url('../../img/error.png');background-repeat:no-repeat;background-position:100% 2px;z-index:25;}
#bottom-grab {display:none;}
#bodydiv {position:absolute;top:70px;width:870px;padding:15px;padding-top:0px;border-bottom:1px solid #555555;margin-bottom:20px;}
#bodydiv, #menudiv, #headdiv {border-left:1px solid #555555;border-right:1px solid #555555;}
.port {border:1px solid #cccccc;padding:1em;padding-top:0em;padding-bottom:1em;margin-bottom:1.5em;}
.port h3 {color:#555555;margin:0px;background:white;padding:0.2em;position:relative;top:-0.7em;font-size:1em;font-weight:normal;display:inline-block;zoom:1;*display:inline;}
h2 {color:#b89f7e;}
table {border-spacing:0px;border-collapse:collapse;font-size:0.9em;}
table td {border:1px solid #bbbbbb;text-align:right;margin:0px;padding:2.5px;}
table th {border:1px solid #bbbbbb;}
table thead {background:#b89f7e;background-image:url('img/table_bg.png');background-repeat:repeat-x;border:1px solid #555555;height:20px;color:black;}
thead th {padding:0px 1em;}
table.narrow {display:inline-block;vertical-align:top;}
table.full {width:100%;margin-bottom:1em;}
th.noborder, td.noborder {border:none;}
div.form_entry {margin-bottom:1em;}
div.form_entry * {vertical-align:top;}
.form_h {display:inline-block;zoom:1;*display:inline;width:10em;text-align:right;margin-right:1em;font-weight:bold;color:#5b6065;vertical-align:top;}
.form_b {display:inline-block;zoom:1;*display:inline;vertical-align:top;margin-left:1em;}
iframe {width:850px;border:none;border-left:2px solid ridge;}
div.frames {position:fixed;left:903px;width:850px;border-top:2px solid #555555;background:white;}
div.maximized {position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:100;background:black;background-image:url('img/black_bg.png');}
div.maximized iframe {width:850px;margin:auto;height:95%;display:block;}
#announcediv {margin:auto;margin-bottom:20px;font-size:0.9em;width:820px;}
#announcediv p {padding:0.5em;margin:1em 15px;background:#eed2c0;border:1px solid brown;}
#announcediv p.valid {background:#e0f3e0;border:1px solid green;}
#announcediv p.warning {background:#f3f3bb;border:1px solid orange;}
#announcediv img {margin-right:0.5em;}
.left {text-align:left;}
.strong {font-weight:bold;}
table#conftable {width:100%;}
table#conftable td {padding:0px;}
table#conftable td ul {height:10em;overflow:auto;margin:0px;}
table.coordinate td:hover {background:#3465a4;color:white;}
dd {font-weight:bold;margin-left:1em;}
dt {margin-left:3em;margin-bottom:1em;}
.message {font-size: 90%; color:#555;margin-left:1em;}
.email-message {background:#f3ebe0;border:1px solid #3465a4;margin:10px 0px;padding:1em;}
.email-message pre {
    font-size: 110%;
    margin: 0;
}
#cmp-sailor {margin:1em auto;padding:0.5em;max-width:70%;background:#d5d5d5;border:1px solid #555;}
#cmp-sailor label {margin-left:0.5em;}
#teams-list {border:1px solid #aaa;max-height:25em;overflow:scroll;overflow-x:auto;padding:0;background:#eee;}
#teams-list ul {padding:0.25em;margin:0;}
#teams-list > li {list-style-type:none;padding:0;margin:0.25em 0;}
#teams-list ul li {margin:0.2em 0;}
#teams-list h4 {margin:0.5em 0 0.25em;border-bottom:1px solid #aaa;}
#teams-list input {width:3em;}
#teams-list label {padding-left:1em;}
.pos_sail:hover, .pos_team:hover {background:#3465a4;color:white;}
tr.disabled {background:#ddd;color:#555;}
