/* Plain text CSS stylesheet */
/* @author Dayan Paez        */
/* @date   January 26, 2009  */

body {font-family: monospace;}

/* Divs */
div#header h1 {
    margin-bottom: 0em;
}

h4#date {
    text-align: center;
    margin-top: 0em;
}

/* Divs */
div#headdiv{
    padding-left: 1em;
    margin-left: 11em;
    margin-bottom: 0em;
}

div#bottom-grab {
    display: none;
}


div#menudiv {
    position: fixed;
    top: 0em;
    left: 0em;
    height: 85%;
    padding: 1em;
    width: 9.5em;
    overflow: auto;
}

div#bodydiv{
    margin-left: 11em;
    margin-top: 0em;
    }

div#bodydiv.fullwidth, div#headdiv.fullwidth {
    margin-left: 2.5em;
}

div#header {
    float: left;
}

div#topnav {
    position: relative;
    padding: 0.25em;
}

div#user, div#regatta, div#weather {
    float: right;
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 1em;
    paddding: 0.3em;
}

/* Port and portlets */
div.port {
    margin-bottom: 1em;
    margin-right: 1em;
    padding-bottom: 1em;
    clear: left;
    overflow: auto;
    }

div#winning {
    max-width: 20em;
}

div.small {
    float: left;
    display: block;
    margin-right: 0.5em;
    vertical-align: top;
    }

/* Port and portlet headings, etc */
div.port h3 {
    padding-left: 1em;
    padding-right: 1em;
    }

div.port h4 {
    padding-left: 1em;
    margin-bottom: 0em;
    padding-bottom: 0em;
    }

div.form_entry {
    margin-bottom: 0.5em;
    }

div.form_h {
    display: inline-block;
    text-align: right;
    width: 8em;
    font-style: italic;
    vertical-align: top;
    padding-right: 1em;
    }
div.form_b {
    display: inline-block;
    vertical-align: top;
    }

div.form_b ul {
    margin-top: 0em;
    margin-left: 1.5em;
    padding-top: 0em;
    padding-left: 0em;
    list-style: none;
}

div#compass {
    width:100px;
    height:100px;
    background: url('../../img/compass.png');
    background-repeat: no-repeat;
}

span.form_h {
    display: inline-block;
    text-align: right;
    width: 8em;
    font-style: italic;
    vertical-align: top;
    padding-right: 1em;
    padding-left: 1em;
}

/* Tables */
table {
    margin: 1em;
    padding: 0em;
    }


tr.totalrow td {
    vertical-align: top;
}

tr.row0 {
    background: white;
}
tr.row1 {
}


tr.skipper td {
/*    background: #EEEEFF;*/
}

th {
    text-align: right;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 0.9em;
    vertical-align: bottom;
    padding-right: 0.5em;
    min-width: 2em;
    }

TD {
    min-width: 2.2em;
    vertical-align: bottom;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    max-width: 15em;
    padding-right: 0.5em;
    text-align: right;
    }

thead {
    border-bottom: 2px solid #DDDDDD;
}

col#teamcol {
    border-right: 1px solid #DDDDDD;
    text-align: left;
}

col#totalcol {
    border-left: 1px solid #DDDDDD;
}

div.small table {
    margin-top: 0em;
    padding: 0em;
}

/* Headings */
h2 {
    padding: 0em;
    padding-right: 1em;
    text-align: right;
    font-size: 1.8em;
    margin-bottom: -0.3em;
    margin-top: 0.5em;
    clear: right;
    z-index: 10;
    width: auto;
    border-bottom: 2px solid #DDDDDD;
}




/* General */

img    {
    display: none;}

h1 img {
    display: block;
    border: none;
}


/* Classes */
td.namescell {
    max-width: 100em;
}